<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>CPU Battle</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <%- include('../templates/header.ejs'); %>
  <link rel="icon" href="favicon.png">
  <script src="socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
  	<span hidden id="span_url"><%= socketURL %></span>
	  <div class="container">
		<h1 id="title">CPU Battle</h1>
		<div class="box" id="box-intel">
			<h1>Intel</h1>
			<img src="https://versusmedia.mx/wp-content/uploads/2020/09/Intel-Logo.png" alt="">
			<span id="span_intel">0</span>
		</div>
		<div class="box" id="box-ryzen">
			<h1>Ryzen</h1>
			<img src="AMD_Logo.png" alt="">
			<span id="span_ryzen">0</span>
		</div>
	</div>
	<script type="text/javascript">
		var socket = io.connect($("#span_url").html());

		socket.on('vote_intel', function(vote){
			var addVote = parseInt(vote);
			var count = parseInt($("#span_intel").html());

			var newCount = count + addVote;
			console.log(newCount);
			$('#span_intel').html(newCount);
		});

		socket.on('vote_ryzen', function(vote){
		var addVote = parseInt(vote);
		var count = parseInt($("#span_ryzen").html());

		var newCount = count + addVote;
		console.log(newCount);
		$('#span_ryzen').html(newCount);
		});

		socket.on('vote_intel')
	</script>
</body>
</html>